---
layout: layout.liquid
title: 11ty Boilerplate
--- 

<h1>Planetary Playing Cards</h1>

<div class="content">
    <div class="card sun"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

    <div class="card Mercury"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Mercury </h3>
            <p> 0.4 Au </p>   
        </div>
    </div>  

    <div class="card Venus"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Venus </h3>
            <p> 0.72 Au </p>   
        </div>
    </div>  

    <div class="card Earth"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Earth </h3>
            <p> 1 Au </p>   
        </div>
    </div>  

    <div class="card Mars"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Mars </h3>
            <p> 1.5 Au </p>   
        </div>
    </div>  

    <div class="card Jupiter"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Jupiter </h3>
            <p> 5.2 Au </p>   
        </div>
    </div>  

    <div class="card Saturn"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Saturn </h3>
            <p> 9.5 Au </p>   
        </div>
    </div>  

    <div class="card Uranus"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Uranus </h3>
            <p> 10.8 Au </p>   
        </div>
    </div>  

    <div class="card Neptune"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Neptune </h3>
            <p> 30 Au </p>   
        </div>
    </div>  

</div>

