---
layout: layout.liquid
title: 11ty Boilerplate
--- 

<h1>Planetary Playing Cards</h1>

<div class="content">
    <div class="card sun"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

    <div class="card 1"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

    <div class="card 1"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

    <div class="card 1"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

    <div class="card 1"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

    <div class="card 1"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

    <div class="card 1"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

    <div class="card 1"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

    <div class="card 1"> 
        <div class="avatar">
        </div>

        <div class="text">
            <h3> Sun </h3>
            <p> Type G2V </p>   
        </div>
    </div>  

</div>

